.lHd {
  top: 0;
  left: 0;
  z-index: 5;
  transition: transform var(--anim-time);
}

.lM {
  max-width: 100%;
}

@mixin maxPC {
  .lM {
    padding-top: var(--desktop-header-height);
  }
}

@mixin minPC {
  .lM {
    padding-top: vmp(var(--desktop-header-height));
  }
}

@mixin T {
  .lM {
    padding-top: vmt(var(--tablet-header-height));
  }
}

@mixin M {
  .lM {
    padding-top: vmm(var(--mobile-header-height));
  }
}
