
.mAccCtrl {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    transition: ease-in 0.3s transform;
  }

  &::before {
    transform: rotate(90deg);
  }

  &.act {
    &::before {
      transform: rotate(0deg);
    }
  }
}

.mAccCnt {
  max-height: 0;
  transition: max-height 0.3s;
}

@mixin maxPC {
  .mAccCtrl {
    &::before,
    &::after {
      width: 24px;
      height: 4px;
      right: 30px;
      margin-top: -2px;
    }
  }
}

@mixin minPC {
  .mAccCtrl {
    &::before,
    &::after {
      width: vmp(24px);
      height: vmp(4px);
      right: vmp(30px);
      margin-top: vmp(-2px);
    }
  }
}

@mixin T {
  .mAccCtrl {
    &::before,
    &::after {
      width: vmt(24px);
      height: vmt(4px);
      right: vmt(30px);
      margin-top: vmt(-2px);
    }
  }
}

@mixin M {
  .mAccCtrl {
    &::before,
    &::after {
      width: vmm(12px);
      height: vmm(2px);
      right: vmm(10px);
      margin-top: vmm(-1px);
    }
  }
}
